
<div class="form-group FieldDOB" data-minAge="18">
      <label for="{{ID}}">{{LABEL}}</label>
      <div class="FieldDOB-selects-container">
            <select class="form-control FieldDOBMonth" data-parentId="{{ID}}">
                  <option value="1">[[C:MONTH_JAN]]</option>
                  <option value="2">[[C:MONTH_FEB]]</option>
                  <option value="3">[[C:MONTH_MAR]]</option>
                  <option value="4">[[C:MONTH_APR]]</option>
                  <option value="5">[[C:MONTH_MAY]]</option>
                  <option value="6">[[C:MONTH_JUN]]</option>
                  <option value="7">[[C:MONTH_JUL]]</option>
                  <option value="8">[[C:MONTH_AUG]]</option>
                  <option value="9">[[C:MONTH_SEP]]</option>
                  <option value="10">[[C:MONTH_OCT]]</option>
                  <option value="11">[[C:MONTH_NOV]]</option>
                  <option value="12">[[C:MONTH_DEC]]</option>
            </select>
            <select class="form-control FieldDOBDay" data-parentId="{{ID}}"></select>
            <select class="form-control FieldDOBYear" data-parentId="{{ID}}"></select>            
      </div>
      <input type="date" id="{{ID}}" name="dob" value="{{VALUE}}" class="FieldDOBDate">
      <span class="status statusError">✕ [[DOB_ERROR]] <i class="minAge">18</i></span>      
      <span class="status statusSuccess">✓ <i class="myAge"></i></span>
</div> 
