
      section.content.register {
            max-width         : 40%;
            border            : 1px solid #CCC;
            padding           : 20px;
      }

      section.content.register div.content h2 {
            margin            : 20px 0 20px 0;
      }

      div.form-group input.verificationCode {
            font-size         : 200%;
            letter-spacing    : 50px;
            text-align        : center;            
            border-radius     : 0;
      }

