<style>
.menu {
      display     : block;
      position    : fixed;
      background  : rgba(0, 0, 0, 1);
      height      : 60px;
      top         : 0;
      left        : 0;
      right       : 0;
}

.logo img {
      width       : auto; 
      max-height  : 40px;
}

.links {
      display     : table;
      width       : 100%;
      padding     : 0 2%;
      margin      : 0;
}

.links li {
      display           : table-cell;
      width             : 10%;
      height            : 60px;
      font-size         : 14px;
      font-weight       : 600;
      text-align        : center; 
      vertical-align    : middle;
}

.links li a {
      font-size         : 120%;
      text-decoration   : none;
      color             : #FFF;
      height            : 100%;
}

.login {
      background-color: #333;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
}

/* Mobile Menu */
@media (max-width: 768px) {
      .menu {
            flex-direction: column;
            align-items: flex-start;
      }

      .links {
            flex-direction    : column;
            width             : 
      }

      .links li {
            margin-bottom: 5px;
      }
}
</style>

<nav class="menu">
      <ul class="links">
            <li class="logo"><img src="/public/img/logo.png" alt="[[Logo]]"></li>
            <li><a href="#">[[Search]]</a></li>
            <li><a href="#">[[Forum]]</a></li>
            <li><a href="#">[[Groups]]</a></li>
            <li><a href="#">[[Gallery]]</a></li>
            <li><a href="#">[[Locations]]</a></li>
            <li><a href="#">[[Chat]]</a></li>
            <li><a href="#">[[Events]]</a></li>
            <li><a href="#">[[Blog]]</a></li>
            <li><a id="linkLogin" href="#">[[Login]]</a></li>
            <li><a id="linkRegister" href="#">[[Register]]</a></li>
      </ul>
</nav>

<script>
      console.log('Register Link Assigned');
      $('#linkRegister').on('click', function() {
            $('AuthRegister').modal();
      });
      $('#linkLogin').on('click', function() {
            $('AuthVerification').modal();
      });
</script>      