/*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
//|| True Components CSS
//|| Avatar Cover
//||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| Main
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      div.UploadCover { 
            background              : #CCC;
            width                   : 100%;
            left                    : 0; 
            top                     : 0;
            right                   : 0;
            position                : relative;
      } 

      div.UploadCoverWrapper {
            text-align              : center;
            padding                 : 0;
            display                 : block;
            width                   : 250px;
            height                  : auto;
            position                : absolute;
            overflow                : hidden;
            right                   : 20px;
            bottom                  : 0;
            border-radius           : 10px;
      }

      div.UploadCoverWrapper button {
            background              : #FFF;
            color                   : #333;
            border                  : 0;
            padding                 : 5px 10px;
            border-radius           : 5px;
            cursor                  : pointer;
            margin                  : 5px;
      }

      .UploadCoverImage {
            background-size         : cover;
            background-position     : center;
            background-repeat       : no-repeat;
            cursor                  : pointer;
      }

      .UploadCoverImage.loading {
            width                   : 100%;
            height                  : 100%;
            background-size         : cover;
            background-position     : center;
            opacity                 : 0.5;
            transform               : scale(0.99);
            animation               : fadeInScale 1s infinite ease-in-out;
      }

      .UploadCoverImage button.btn.btn-primary { 
            display           : block;
            width             : auto;
            color             : #000;
            padding           : 10px 20px;
            cursor            : pointer;
            margin            : 0 auto 20px;
      }      
        

        
