<div class="component UploadCover">
      <div id="uploadCoverImage" class="UploadCoverImage" style="background-image:url({{IMAGE_COVER}})" data-user="cover.720">
            <div class="UploadCoverWrapper">                  
                  <form action="/upload/cover" method="POST" enctype="multipart/form-data" id="UploadCoverForm"">
                        <input type="file" name="files" accept="image/*" style="display:none"/>
                        <input type="hidden" name="uploadJWT" value="{{UPLOADJWT}}">
                  </form>                      
                  <button class="btn btn-primary uploadButton">[[C:UPLOAD_COVER]]</button>
            </div>
            {{__CHILDREN__}}
      </div>
</div>