/*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
//|| Maestro.js :: Public Library
//|| Maestro CSS Library - Base Classes
//||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/


      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| Form Fields
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      .btn {
            display     : inline-block;
            padding     : 0.5em 1em;
            background  : #ccc;
            border      : 0;
            border-radius: 0.5em;
            font-size   : 1em;
            cursor      : pointer;
      }

      .btn-primary {
            background    : var(--color-primary);
            color         : var(--color-font-primary);
            border-radius : 10px;
      }

      .rounded {
            border-radius : 25px;
      }

      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| Divide
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      hr.divide {
            border      : 0;
            height      : 1px;
            background  : #ccc;
            margin      : 1em 0;
      }

      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| Lists
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      .horizontal-list {
            display     : flex;
            flex-wrap   : wrap;
            list-style  : none;
            padding     : 0;
      }

      .horizontal-list > * {
            flex        : 1 1 auto;
            margin      : 0.25em;
            text-align  : center;
      }

      .width-50 {
            width       : 50%;
      }

      .align-center {
            text-align  : center;
            margin-left : auto;
            margin-right: auto;
      }

      .tabs {
            
      }
      
      .tabs li {
            padding     : 10px;
            margin      : 5px;
            cursor      : pointer;            
      }

      .tabs li.selected {
            background : var(--color-bg-highlight);
            color      : var(--color-font-highlight);
      }

      @keyframes spin {
            from {
                  transform: rotate(0deg);
            }
            to {
                  transform: rotate(360deg);
            }
      }

      .spinner {
            animation: spin 2s linear infinite;
      }      
