/*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
//|| Maestro.js :: Public Library
//|| Maestro CSS Library - Transitions and Effects
//||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      
      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| Fade in Scale - UploadAvatar
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      @keyframes fadeInScale {
            0% {
                  opacity                 : 0.5;
                  transform               : scale(0.9);
                  background-color        : rgba(0, 0, 0, 0.2);
                  border-radius           : 20px;
            }
            50% {
                  opacity                 : 1;
                  transform               : scale(1);
                  background-color        : rgba(0, 0, 0, 0.5);
                  border-radius           : 0px;
            }
            100% {
                  opacity                 : 0.5;
                  transform               : scale(0.9);
                  background-color        : rgba(0, 0, 0, 1);
                  border-radius           : 0px;
            }
      }