<div class="avatarCover">
      <div class="avatarUpload_image" style="background:{{AVATAR_COVER}}">
            <div class="avatarUploadFieldWrapper">                  
                  <button>[[C:UPLOAD_COVER]]</button>
            </div>
            {{__CHILDREN__}}                  
      </div>
      <input type="hidden" name="fid_media_cover" value="{{FID_MEDIA_COVER}}">
      <input style="visibility : hidden" type="file" id="avatar" name="avatar" accept="image/*" />      
      <input type="hidden" name="uploadJWT" value="{{UPLOADJWT}}">
</div>