<footer>
        <nav class="overview desktop table">
                <section class="address">
                        <h5>Our Company</h5>
                        <address>
                                {{COMPANY_NAME}}<br>
                                {{COMPANY_ADDRESS}}<br>
                                {{COMPANY_CITY}} {{COMPANY_STATE}} {{COMPANY_ZIP}} {{COMPANY_COUNTRY}}<br>
                                {{COMPANY_PHONE}}<br>
                                {{COMPANY_EMAIL}}<br>
                        </address>
                </section>
                <section class="blog">
                        <h5>Latest Blog Posts</h5>
                        <ul>
                                {{BLOGLINKS}}
                        </ul>
                </section>
                <section class="links">
                        <h5>Browsing the Site</h5>
                        <ul class="link-list">
                                {{MAINLINKS}}
                        </ul>
                </section>
                <section class="links company">
                        <h5>Company Info</h5>
                        </span> 
                        <ul class="link-list">
                                {{COMPANYLINKS}}
                        </ul>
                        <section></section>
                </section>
        </nav>
</footer>
<footer class="disclaimer">
        <ul class="runner">
                <li class="copyright desktop cell">
                        2007 - {{{YEAR}}} © {{COMPANY_NAME}}
                </li>
                <li class="social facebook"><a target="_blank" rel="noopener publisher"
                                href="https://www.facebook.com/pages/truenudistscom/184557604923252" title="Facebook"><i
                                        class="fa fa-facebook"></i></a></li>
                <li class="social vimeo"><a target="_blank" rel="noopener publisher"
                                href="https://vimeo.com/truenudists" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
                <li class="social youtube"><a target="_blank" rel="noopener publisher"
                                href="https://www.youtube.com/user/truenudists_com" title="Youtube"><i
                                        class="fa fa-youtube"></i></a></li>
                <li class="social twitter"><a target="_blank" rel="noopener publisher"
                                href="https://www.twitter.com/truenudists" title="Twitter"><i
                                        class="fa fa-twitter"></i></a></li>
        </ul>
</footer>