/*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
//|| True Components JS
//|| Upload Cover
//||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

 
      /*||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||
      //|| Small
      //||=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-||*/

      div.modal.small {
            display           : flex;
            position          : fixed;
            width             : 40%;
            max-height        : 80%; 
            top               : 50%;
            left              : 50%;
            transform         : translate(-50%, -50%);
            background-color  : #fff;
            border-radius     : 5px;
            box-shadow        : 0 0 10px rgba(0, 0, 0, 0.1);
            padding           : 20px;
            flex-direction    : column;
            justify-content   : flex-start;
            align-items       : center;
            z-index           : 1000;
            overflow          : hidden;
      }
      
      div.modal.small div.content.small {
            position          : relative;
            width             : 100%;
            background        : red;
            display           : flex;
            flex-direction    : column;
            justify-content   : center;
            align-items       : center;   
            padding           : 10px;
      }

      div.modal.small div.modal.content.inner {
            width             : 100%;
            height            : auto;
            overflow          : auto;
            max-height        : calc(80vh - 40px);
            box-sizing        : border-box;
            padding           : 10px;
      }
