<nav class="navPublic">

        <div class="navPublicTop">
              <div class="navTopLogo navTopSection">
                    <div class="navTopLogoWrap navTopWrap">
                          <a href="/" class="logoImg"></a>
                    </div>
              </div>

              <div class="navTopNotify navTopSection">
                    <div class="navTopNotifyWrap navTopWrap">
                          <button><FontAwesomeIcon icon="faSearch" /></button>
                          <button><FontAwesomeIcon icon="faPlus" /></button>
                          <button><FontAwesomeIcon icon="faUserPlus" /></button>
                          <button><FontAwesomeIcon icon="faMessage" /></button>                                                
                          <button><FontAwesomeIcon icon="faGlobe" /></button>
                    </div>
              </div>

              <div class="navTopAuth navTopSection">
                    <div class="navTopAuthWrap navTopWrap">
                          <button class="buttonAuthLogin"><span><FontAwesomeIcon icon="faUserLock" /></span>[[LOGIN]]</button>
                          <button class="buttonAuthSignup"><span><FontAwesomeIcon icon="faUserPen" /></span>[[SIGNUP]]</button>                                                
                    </div>
              </div>
              <div class="navTopMenu navTopSection">
                    <div class="navTopMenuWrap navTopWrap">
                          <button><FontAwesomeIcon icon="faBars" /></button>                              
                    </div>
              </div>
              
        </div>

        <div class="navPublicBottom">                               
              <div class="navPublicBottomWrap">
                    {{LINKS}} 
              </div>
        </div>

  </nav>