
<section class="ModalVerification" id="modalVerification">
      <div class="content"> 
            <form action="/auth/verify" method="post" id="verificationCode">
                  <h2>[[ENTER_VERIFICATION_CODE]]</h2>
                  
                  <div class="form-group" data-validation="code" data-error="[[ENTER_VERIFICATION_CODE]]" data-label="[[ENTER_VERIFICATION_CODE]]">
                        <label for="code"></label>
                        <input name="code" placeholder="" pattern ="\d{6}" maxlength="6" type="text" class="form-control verificationCode" id="code">
                  </div>
                  <button type="submit" class="btn btn-primary" />[[C:VERIFY]]</button>
            </form>

      </div>
</section>
